{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Resources</h1>

  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="POST" enctype="multipart/form-data" id="cropFormUpload">
    {% csrf_token %}
    {{ form }}
  </form>

  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <select class="gender-selector btn btn-primary">
            {% for gender in genders %}
              <option  value="{{ gender }}">{{ gender }}</option>
            {% endfor %}
          </select>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
  <p></p>


  <div class="btn-group btn-group-lg" style="display: flex; justify-content: center;">
    <button class="btn btn-primary tablinks" onclick="changeTab(event, 'Photos')">Photos</button>
    <button class="btn btn-primary tablinks" onclick="changeTab(event, 'Crops')">Crops</button>
  </div>

  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div id="Photos" class="row tabcontent" style="margin-top: 20px">
    <h3>Click and image to crop</h3>
    {% for photo in photos %}
      <div class="col-sm-4 col-md-3">
        <img src="{{ photo.file.url }}"
             data-id="{{  photo.id }}"
             class="photo thumbnail"
             >
      </div>
    {% endfor %}
  </div>

  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div id="Crops" class="row tabcontent" style="margin-top: 20px; display: none">
    {% for crop in crops%}
      <div class="col-sm-4 col-md-3">
        <img src="{{ crop.cropFile.url }}" class="crop thumbnail">
        <h4>"{{ crop.gender }}"</h4>
      </div>
    {% endfor %}
  </div>

{% endblock %}
