{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">Resources</h1>

  <!-- FORM TO UPLOAD THE IMAGES -->
  <form method="POST" enctype="multipart/form-data" id="photoFormUpload">
    {% csrf_token %}
    {{ form }}
  </form>
  <br/>
  <a href="{% url 'cropping_list' %}" class="btn btn-primary">Generate crop</a>
  <br/><br/>
  <div class="btn-group btn-group-lg" style="display: flex; justify-content: center;">
    <button class="btn btn-primary tablinks" onclick="changeTab(event, 'Photos')">Photos</button>
    <button class="btn btn-primary tablinks" onclick="changeTab(event, 'Crops')">Crops</button>
  </div>

  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div id="Photos" class="row tabcontent" style="margin-top: 20px">
    {% for photo in photos %}
      <div class="col-sm-4 col-md-3">
        <img src="{{ photo.file.url }}"
             data-url="{{ photo.file.url}}"
             class="thumbnail"
             style="">
      </div>
    {% endfor %}
  </div>

  <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
  <div id="Crops" class="row tabcontent" style="margin-top: 20px; display: none;">
    {% for crop in crops%}
      <div class="col-sm-4 col-md-3">
        <img src="{{ crop.cropFile.url }}" class="thumbnail">
        <h4>"{{ crop.gender }}"</h4>
      </div>
    {% endfor %}
  </div>

{% endblock %}
